<% content_for :title, Prelaunch::Application.config.title %>
<header>
  <!-- header for layout -->
  <div class="row">
    <div class="twelve columns">
      <p></br></br></p>
    </div>
  </div>
</header>

<div class="row">
  <div class="twelve columns">
    <div class = "three columns">
      <img id="logo" src="http://placehold.it/240x300">
    </div>
    <div class = "nine columns">
      <h1 id="company"><%= Prelaunch::Application.config.company %></h1>
      <h5 id="tagline"><%= Prelaunch::Application.config.tagline %></h5>
      <div class = "row">
        <p></p>
      </div>
      <div class = "row">
        <strong>WANT TO KNOW THE NEWS AS IT HAPPENS?<strong>
        <div class = "eight columns">
          <%= form_tag '/home/notify', :html => { :id => "email_form", :class => "nice"} do %>
            <%= text_field_tag 'email', nil,  :placeholder => "YOUR E-MAIL ADDRESS", :type => :text, :class => "large input-text" %>
          </div>
          <div class = "four columns">
            <%= submit_tag "Notify Me", :id => "notify", :class => "nice small black button radius" %>
          </div>
        <% end %>
        <div id="follow" class = "eight columns" align="center">
          <% Prelaunch::Application.config.social.each do |k, v| %>
            <a<%= " id='#{k}' href='#{v}'" %>><img <%= "src='/assets/#{k}.png'" %>></a>
          <% end %>
        </div>
        <div class = "four columns" />
      </div>
    </div>
  </div>
</div>